@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

img {
    max-width: 100%;
}

body {
    @apply font-baukasten p-0 m-0 overflow-x-hidden;
}

.container {
    max-width: 1300px;
}

.boldBtn {
    @apply h-[60px] inline-flex items-center justify-center bg-primary rounded-full px-6 text-white font-poppins font-medium text-xl;
}

.borderBtn {
    @apply h-[60px] inline-flex items-center justify-center border-2  rounded-full px-6  font-poppins font-medium text-xl;
}

//Go To Top
#return-to-top {
    @apply bg-grey hover:bg-dark w-[50px] h-[50px] right-[55px] bottom-[95px] block rounded-full transition-all duration-100 ease-linear fixed hidden z-10 drop-shadow-2xl;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background: #022444;
}