.banner {
    background: linear-gradient(90deg, #2F2F2F 0%, rgba(52, 51, 51, 0.00) 100%), imgUrl('banner.jpg');
    background-size: cover;

    @media screen and (max-width: 540px){
        background: imgUrl('banner_sm.jpg');
        background-size: cover;
    }

    ul.bannerList {
        list-style-image: url('../images/icons/tick.png');
    }
}

.logo_slider {
    .slick-track {
        display: flex;
    }

    .slick-slide {
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

section.heroForm {
    background: imgUrl('form.png') right top #C62026;
    background-size: contain;

    form.form {
        .form-control {
            @apply border-b flex items-center gap-x-2;

            .icon {
                @apply text-grey;
            }

            input,
            select {
                @apply w-full outline-none text-base md:text-xl transition ease-in-out delay-100;
            }

            &:focus {
                @apply border-red-500;
            }
        }
    }
}

section.about {
    .about_wrapper {
        background: linear-gradient(90deg, #000000 0%, rgba(52, 51, 51, 0.00) 100%), imgUrl('about.jpg');
        background-size: cover;
    }

    .gallery {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            margin: 0 10px;
            
            img {
                border-radius: 16px;
                height: 100%;
            }
        }
    }

    .about_card {
        @apply  drop-shadow-md bg-white h-[140px] md:h-full lg:h-[310px] rounded-2xl p-10 lg:p-7 xl:p-14 flex md:flex-col justify-center items-center gap-y-5 space-x-5 md:space-x-0;
    }
}
